/* MODAL PUNTUACIONES */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.modalContent {
  background-color: #1E1E1E;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  max-height: 60%;
  overflow-y: auto;

}

.modalContent ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.div {
  display: flex;
  justify-content: space-between;
}

.modalContent li {
  background-color: #212529;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.star {
  font-size: 2rem;
  color: gold;
  cursor: pointer;
}

.starProduct {
  font-size: 2rem;
  color: gold;
}

.stars {

  background-color: #212529;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;

  width: 50%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stars textarea {
  padding: 0.5rem;
  border-radius: 5px;
  height: 7rem;
}

.stars textarea:focus {
  outline: none;
}

.stars button {
  border-radius: 5px;
}

.contenedor {
  display: flex;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .stars {
    width: 90%;
  }
}
@media (max-width: 450px) {
  .div {
    flex-direction: column;
  }

  .stars {
    width: 100%;
  }
}